<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
  <a href="/"><img class="inline" src="Bowtie Logo.png" width="78px" height="60px"></a>
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a style="font-family: Open Sans, sans-serif" href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            <img ng-src="{{currentUser.picture || currentUser.gravatar}}"> {{currentUser.name || currentUser.email || currentUser.id}} <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account" style="font-family: Open Sans, sans-serif">Edit my account</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()" style="font-family: Open Sans, sans-serif">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/login')}"><a href="/login">Log in</a></li>
        <li ng-class="{ active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
